.tower{
  width: 280px;
  height:440px;
  display: inline-block;
  background-image: url('./tower.png');
  background-size: 100%;
  position: relative;
}
.main{
  text-align: center;
}
.disc{
  border: 5px solid #333;
  margin: 0 auto;
  background-color: #800;
}
.disContainer{
  border: 1px solid red;
  width:100%;
  position: absolute;
  bottom: 0;
}
#d1{
  width: 70px;
  height:40px;
}
#d2{
  width: 140px;
  height:40px;
}
#d3{
  width: 210px;
  height:40px;
}
